#color_list {
width: 270px;
padding: 6px;
border: 1px solid #F0F0F0;
}

#color_list_search {
width: 250px;
}

#color_list_table {
height: 320px;
width: 270px;
overflow: scroll;
}

#color_list_table table {
border-collapse: collapse;
width: 255px;
}

#color_list_table table td {
padding: 4px;
border: 1px solid #ffffff;
}

#color_list_table table th {
background-color: #F0F0F0;
font-weight: bold;
text-align: left;
padding: 4px;
border: 1px solid #ffffff;
}

#color_list_table .normal {
background-color: #FFFFFF;
cursor: pointer;
}

#color_list_table .alternate {
background-color: #F0FFFF;
cursor: pointer;
}
