#edit-box {
    position: fixed;
    /* top: 140px; */
    right: 8px;
    bottom: 0px;
    width: 45%;
    height: 80%;
    z-index: 3000;
    background-color: #F9F9F9;
    border: 2px solid #006ff6; /* #717171; */
    padding: 8px;
    overflow-y: scroll;
}
#edit-box-2 {
    position: fixed;
    top: 30px;
    right: 8px;
    width: 55%;
    height: 200px:
    z-index: 3000;
    background-color: #FFF8DC;
    border: 1px solid #717171;
    padding: 8px;
    overflow: visible !important;
}
table.edit-box-table {
    border-collapse: collapse;
    border-width: 0;
    /* table-layout: fixed; */
    /* width: 100%; */
    width: auto;
}
table.edit-box-table td {
    padding: 4px;
    border-style: none;
    white-space:nowrap;
}
table.edit-box-table td:last-child {
    width: 100%;
}
table.edit-box-table input, table.edit-box-table textarea {
    width: 98%;
}
table.edit-box-table .label {
    text-align: right;
    font-weight: bold;
}
table.edit-box-table .pk {
    font-size: 1.5em;
}

.is-hidden {
    visibility:hidden;
}
#code_view {
    font-size: 14px;
}