html {
    height: 100%;
}
body {
    font: 11px "Lucida Grande", Verdana, Helvetica, sans-serif;
    height: 100%;
}

.btn {
  background-color: #2a68c8;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 5px .5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn.primary {
  background-color: #fff;
  color: #485FC7;
}

.btn:hover,
.btn:focus {
  background-color: #07c;
}

.btn.primary:hover,
.btn.primary:focus {
  background-color: #EFF1FA;
}

.btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.btn:active {
  background-color: #0064bd;
  box-shadow: none;
}

.btn.primary:active {
  background-color: #EFF5FB;
  box-shadow: none;
}

.titolo {
    font-size: 1.5em;
    text-indent: 10px;
}


#header {
    margin-left: 0px;
    padding: 8px;
    font-size: 2em;
    background-color: #2a68c8;
    color: #ddd;
}

/* userbar */
#userbar {
    color: #2a68c8;
    margin: 0px;
    padding: 4px;
    font-size: 1em;
    text-align: right;
}
#userbar a:link {
  text-decoration: none;
  color: #2a68c8;
}
#userbar a:visited {
  text-decoration: none;
  color: #2a68c8;
}
#userbar a:hover {
  text-decoration: underline;
}
#userbar a:active {
  text-decoration: underline;
}

#main_body {
    margin-left: 0px;
    padding: 4px;
}
#sidebar {
    width: 200px;
    height: 100%;
    padding: 1px 1px 4px 4px;
    float: left;
}
#content {
    margin-left: 204px;
    padding-top: 1px;
    overflow-x: scroll;
}

.err {
    text-align: center;
    font-weight: bold;
    color: #ee0000;
    text-wrap: wrap;
}

.msg {
    text-align: center;
    font-weight: bold;
    color: #2a68c8;
    text-wrap: wrap;
}


table {
    font-size: 1em;
    border: 1px solid #D6DDE6;
    border-collapse: collapse;
}
table td {
    border: 1px solid #D6DDE6;
    padding: 4px;
}
table tr.selected {
    background-color: #006ff6;
    color: #fff;
}
table th {
    border: 1px solid #828282;
    background-color: #BCBCBC;
    font-weight: bold;
    text-align: left;
    padding: 4px;
}

table.header {
    border-collapse: collapse;
    border-width: 0;
    border-style: none;
    background-color: #2a68c8;
/*  background-image: url('/img/paper.gif');*/
}
table.header td.left {
    border-width: 0;
    border-style: none;
    text-align: left;
    font-size: 2em;
    color: #ffffff;
}
table.header td.right {
    border-width: 0;
    border-style: none;
    text-align: right;
    font-size: 1em;
    color: #ffffff;
}
table.header td.center {
    border-width: 0;
    border-style: none;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
}
.small {
    font-size: 0.9em;
}
.big {
    font-size: 1.5em;
}
table.col2 {
    table-layout: fixed;
}
table.col2 td {
    padding: 0px;
}
#result_area table td {
    border: 1px solid #D6DDE6;
    padding: 4px;
}
table.action  {
    font-size: 1em;
    font-weight: bold;
    background-color: #DDDDDD;
    border-collapse: collapse;
}
table.action td {
    text-align: center;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #717171;
    border-right: 1px solid #717171;
    padding: 4px;
    white-space: nowrap;
}
table.action td.selected {
    background-color: #bbbbbb;
}
table.action a:link, table.action a:visited {
    text-decoration: none;
    color: #000000;
}
table.action a:hover {
    color: #ee0000;
}

table.sidebar {
    table-layout: fixed;
}
table.sidebar td {
    padding: 4px;
}
#result_area {
    overflow-x: scroll;
}
#result_area th.selected {
    color: #fff;
    text-decoration: underline;
}
#result_area th.data-row-header {
    cursor: pointer;
}
#result_area th.data-row-header img {
    vertical-align: middle;
}
.help_text {
    font-family: Courier, monospace;
    color: #a6a6a6;
    padding-top: 8px;
}

.align_top {
    vertical-align: top;
}

pre {
    font-size: 1em;
    font-family: Courier, monospace;
}

/* html title list */
div.html_title {
    position: absolute;
    width: 350px;
    background: #fff;
}
div.html_title ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.html_title ul li {
    margin:0;
    padding:3px;
    list-style-type: none;
    display: block;
}
div.html_title ul li.selected {
    background-color: #ffb;
}

div.html_title ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
}
div.html_title a:link, div.html_title a:visited {
    font-weight: normal;
    color: #444444;
    text-decoration: none;
}
div.html_title a:hover {
    font-weight: normal;
    color: #DD0000;
    text-decoration: none;
}

/* table search */
#column_list {
     list-style-image: url('/static/img/bullet_blue.png');
     list-style-position: inside;
     margin-left: 0px;
     margin-top: 1px;
     padding-left: 0px;
     padding-bottom: 8px;
     border: 1px solid #DDDDDD;
     /*list-style-type: square;*/
}
#column_list pre {
    line-height: 1.5em;
    font-size: 1.2em;
}
#column_list li.cl-header {
    display: block;
    background-color: #DDDDDD;
    padding: 4px;
    margin-bottom: 4px;
    font-size: 13px;
}
#table_list {
    list-style-type: none;
    display: block;
    margin-left: 3px;
    padding: 0px;
    cursor: pointer;
}
#table_list li {
    padding: 4px;
    white-space: nowrap;
    overflow-x: auto;
}
#table_list li.easy_read:\hover {
    /* background-color: #ffc; */
    background-color: #ddd;
}
#table_list li.selected {
    background-color: #006ff6;
    color: #fff;
}
#table_list li.selected span {
    color: #fff;
}
a.navlink {
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
}
a.navlink:link {
    text-decoration: none;
    color: #444;
}
a.navlink:visited {
    text-decoration: none;
    color: #444;
}
a.navlink:hover {
    text-decoration: none;
    color: #444;
}
a.navlink:active {
    text-decoration: none;
    color: #444;
}

#table_search {
    float: right;
    border: 1px solid #7f9db9;
    padding: 2;
    text-align: left;
    width: 90%;
    }
#table_filter {
    border: 1px solid #7f9db9;
    padding: 4px;
    text-align: left;
    width: 98%;
    }

.normal {
    background-color: #ffffff;
    }
.highlight {
    background-color: #dddddd;
    }

table.excel {
    border-collapse: collapse;
}

table.excel td {
    border-style: none;
    padding: 0px;
}

textarea#query_area {
    font-family: 'Menlo', 'Monaco', 'Courier', fixed;
    font-size: 1.2em;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
    resize:     none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* top | right | bottom | left */
#div_query_area {
    margin: 0;
    padding: 0px 5px 5px 0px;
    overflow: auto;
    resize:     vertical;
    min-height: 31px;
}

code {
padding: 1px 2px;
color: #d14;
/*
white-space: nowrap;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
*/
}


#login_table input, #login_table select {
  width: 96%;
  padding: 6px;
  margin: 5px 0px;
  border: 2px solid #eee;
  font-size: 1.2em;
}

input[readonly]
{
    background-color: #f2f2f2;
}

#table_filters input, #table_filters select, #table_filters img {
    vertical-align: middle;
}

.truncate {
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate pre {
overflow-x: scroll;
}


/* Per formattare il codice o il testo elaborato da format_as_pre */
.vtop {
    vertical-align: text-top;
}
.dont-break-out {
    font-family: 'Menlo', 'Monaco', 'Courier', fixed;
    font-size: 13px;
    margin-top: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    word-break: break-all;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
/* --------------------------------------------------------------- */